* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2 {
   font-size: 40px;
   font-weight: bold;
}

/*********** Style Header ***********/
.header {
    /* position: fixed; */
    width: 100%;
    height: 69px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell ;
 }
 .logo {
    color: seashell;
    cursor: default; 
 }

 .header a img {
    height: 50px;
 }
 .navbar a {
     text-decoration: underline;
     font-size: 1.7rem;
     color: seashell;
     margin-right: 20px;
 }
 /*********** Fin Style Header ***********/

 /*********** style main ***********/
 main {
    margin: 0 20px;
 }
 /*********** Fin style main ***********/

 /*********** style container ***********/

 .container {
   position: relative;
   text-align: center;
   height: 700px;
 }
 .container-img{
    display: block;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1200px;
 }

 .container-img {
    width: 100%;
    display: block;
 }
 .content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 20%;
   background-color: black;
   padding-top: 20px;
 }

 /*********** Fin style container ***********/

 /*********** Container-2 ****************/

 .Second {
   position: relative;
   background-color: black;
   height: 100px;
   width: 1000px;
   margin: 60px 160px;
 }
 .content-3 {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
 }
 .box {
    height: 200px;
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
 }
 .box img{
   height: 200px;
   width: 300px;
 }
 /*********** Fin Container-2 ***********/

 /*********** style Third ***********/
  .third { 
   margin-top: 500px;
 }
 .third {
   background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 30px;
 }
 .third-card {
   display: flex;
   justify-content: space-around;
   height: 500px;
   align-items: center;
   flex-wrap: wrap;
 }
 .item {
   background-color: black;
   height: 300px;
   width: 300px;
   padding: 20px;
   text-align: center;
   opacity: 1;
}

.bord {
   border: 1px solid rgb(245, 2, 2);
}
 
.third span {
   color: seashell;
   font-weight: bold;
   font-size: 32px;
}
/*********** Fin style Third ***********/

/*********** style ford *******************/
.ford {
   height: 200px;
   width: 1000px;
   margin: 0px auto;
   text-align: center;
   padding: 25px;
}

.subtitle{
   font-size: 40px;
   font-weight: bold;
}
/*********** Fin style ford ***************/

/******* style footer ***********/
footer p {
   padding: 20px;
   text-align: left;
   font-weight: bold;
}
/******* Fin style footer *******/
